\#*\#
*~
elpa
/helm-adaptive-history
/projectile*
/proxies.el
/emms
/image-dired
/recentf
/tramp
/config.el
user.el
.floo
ac-comphist.dat
bookmarks
eshell
var
url
thumbs
persp-confs
nix-buffer
/.markdown-preview.html
straight
/.python-environments
/semanticdb
/bookmark-repository
/nov-places
/abbrev_defs